/* Layout */

body {
    margin: 0;
    font-family: sans-serif;
    background-color: #f8f8f8;
    font-size: 13px;
}

#wrapper {
    padding-top: 1px;
    padding-bottom: 1.8em;
    margin: 0;
    background-color: white;
}

#content {
    margin-left: 6%;
    margin-right: 6%;
}

#header {
    text-align: center;
}

#navi-top {
    width: 100%;
    background-color: #e4e4f8;
    border-bottom-width: 1px;
    border-bottom-color: #a8a8e0;
    border-bottom-style: solid;
    border-top-width: 1px;
    border-top-color: #d8d8f0;
    border-top-style: solid;
}

#navi-bottom {
    width: 100%;
    background-color: #e4e4f8;
    border-top-width: 1px;
    border-top-color: #a8a8e0;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #a8a8e0;
    border-bottom-style: solid;
}

.navi-trail, .navi-browse {
    padding: 9px;
}

.navi-trail {
    float: left;
}

.navi-browse {
    float: right;
}

.clear {
    clear: both;
}

#contents-wrapper {
    text-align: center;
}

#contents-list {
    width: 70%;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
    
/* Formatting (common) */

code, tt {
    font-family: monospace;
    line-height: 1em;
    color: #404080;
}

.ref {
    font-family: monospace;
    line-height: 1em;
    color: #404080;
}

pre.ex {
    color: #404080;
    margin-left: 0.5cm;
    margin-right: 1.0cm;
}

a:link {
    color: #404080;
}

a:visited {
    color: #602070;
}

a:hover {
    color: #5050c0;
}

pre a:link, pre a:visited {
    color: #404080;
}

ul {
    list-style-type: disc;
}

dd {
    margin-top: 2px;
    margin-bottom: 0.25cm;
}

h1 {
    color: #000080;
    font-weight: bold;
    margin-top: 1em;
    font-size: 200%;
}

h2 {
    color: #000050;
    font-size: 145%;
    font-weight: bold;
}

h3 {
    font-weight: bold;
}

h3 tt {
    color: black;
}

/* Function, class and variable names */
.hili {
    font-weight: bold;
}

/* Keyword (e.g. 'as') in function/variable/class definition */
.hili2 {
    color: #282850;
}

/* Unknown type id in function/variable/class definition */
.hili3 {
    color: black;
}

/* Linked type id in function/variable/class definition */
a.annref {
    text-decoration: none;
    font-family: monospace;
    line-height: 1em;
}

a.annref:hover {
    text-decoration: underline;
}

.optype {
    font-weight: normal;
    padding-left: 6px;
}

.author {
    margin-top: 1em;
}

.email {
    margin-bottom: 1em;
}

.release-id {
    margin: 1em 0;
    font-weight: bold;
}

.note {
    text-indent: -2em;
    padding-left: 2em;
}

.note-header {
    font-weight: bold;
    padding-right: 1px;
}

.implements {
    margin-top: 0;
    padding-left: 1.5em;
    margin-bottom: 1.5em;
}

.implements-header {
    font-style: italic;
    padding-right: 4px;
}

ul.sep {
    margin-top: 1em;
}

.trim {
    margin-top: 0;
}

.error {
    color: red;
}

.deprecated {
    font-style: italic;
}

.hiliexample {
    background-color: #dddddd;
    padding: 1px;
}

.contents li {
    padding-top: 4px;
}

.contents li ul li {
    padding-top: 4px;
}

/* Formatting (specific) */

#contents-lib {
    list-style: none;
}    

#contents-lib li {
    margin-top: 4px;
    margin-bottom: 4px;
    font-weight: bold;
    margin-top: 8px;
}

#contents-lib li a {
    text-decoration: none;
    font-weight: normal;
}

#contents-lib li a:hover {
    text-decoration: underline;
}

.module-group {
}

#contents-lib ul {
    list-style-type: none;
}

#contents-lib ul li {
    margin-left: -0.5em;
    font-weight: normal;
    margin-top: 4px;
}

#contents-lib ul li a {
    text-decoration: none;
}

#contents-lib ul li a:hover {
    text-decoration: underline;
}

/* Tables (common) */

.with-border {
    margin-left: 0.5cm;
    margin-right: 0.5cm;
    border-collapse: collapse;
    border-style: hidden;
    border-color: white;
}

.with-border td, .with-border th {
    padding: 4px;
    border: solid 1px;
}

.with-border th {
    border-bottom-style: double;
    border-bottom-width: 3px;
}

.no-border {
    margin-left: 0.5cm;
    border: none;
}

.no-border td {
    padding: 2px;
    vertical-align: top;
}

/* Tables (specific) */

#pack-formats tr td {
    text-align: center;
}
